<?xml version="1.0" encoding="utf-8"?>
<eflayMH>
  <基本配置>
    <强制版本>false</强制版本>
    <自动开启>false</自动开启>
  </基本配置>
  <大地图>
    <清除迷雾>false</清除迷雾>
    <显示单位>true</显示单位>
    <半显单位>false</半显单位>
    <显示隐形>true</显示隐形>
    <分辨幻象>true</分辨幻象>
    <显示神符>true</显示神符>
    <视外显血>true</视外显血>
    <视外点选>true</视外点选>
    <友军显血>true</友军显血>
    <敌军显血>true</敌军显血>
  </大地图>
  <小地图>
    <清除迷雾>false</清除迷雾>
    <显示单位>true</显示单位>
    <显示隐形>true</显示隐形>
  </小地图>
  <辅助>
    <无限取消>true</无限取消>
    <允许交易>true</允许交易>
    <显示技能>true</显示技能>
    <他人提示>false</他人提示>
    <数显移速>true</数显移速>
    <数显攻速>true</数显攻速>
    <资源面板>true</资源面板>
    <敌方信号>true</敌方信号>
    <防秒开始>false</防秒开始>
    <顶显资源>false</顶显资源>
    <建筑显资>true</建筑显资>
    <敌方头像>false</敌方头像>
    <友方头像>false</友方头像>
  </辅助>
  <过MH检测>
    <防切屏幕A>false</防切屏幕A>
    <防失控B>true</防失控B>
    <过-AHC>false</过-AHC>
    <防模型死D>true</防模型死D>
    <防选单位E>false</防选单位E>
    <防清选F>false</防清选F>
  </过MH检测>
  <特殊>
    <交换物品>false</交换物品>
    <他人选框>false</他人选框>
    <控制单位>false</控制单位>
  </特殊>
  <辅助2>
    <终结AA>False</终结AA>
    <war3v>0</war3v>
  </辅助2>
</eflayMH>